//GLAVNI DEO
main {
    .naslovnafotografija {
        padding: 0;
        border-radius: 0px;
    }
    .uvod {
        border: solid 1px $svetlosivaboja;
        margin: 0 auto;
        padding: 20px;
        p {
            margin: auto;
        }
    }
    .tekstUvoda {
        margin: auto auto !important;
    }
    #fotografije {
        margin-top: 30px;
        p {
            text-align: center;
        }
    }
    .destinacije {
        margin: 0px;
        h1 {
            padding: 0; 
            text-align: center;
            margin: 30px auto;
        }
        p {
            padding: 10px; 
            text-align: justify;
            margin: 0 auto;
        }
        h2 {
            text-align: center;
            margin: 30px auto 20px;
            padding: 0px;
        }
        a {
            img {
                border-radius: 6%;
                margin: 3.25px auto;
                padding: 0px 5px;
            }
        }
        .kartica {
            text-align: center;
            margin: 0 auto; 
        }
    }
}

//PRESEK ZA RESPONSIVE

@media all and (max-width: 900px) {
    #portugal, #glavnigradovievrope, #spanija {
        display: none;
    }
}